@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');
/* font-family: 'Rubik', sans-serif; */

:root {
    --topSpacing: 0.1rem;
    --topTrans: all 0.2s ease-out;
    --darkGray: rgb(34,40,49);
    --midGray: rgb(57,62,70);
    --darkCyan: rgb(0,173,181);
    --white: rgb(238,238,238);
    --midBrown: rgb(199,177,152);
    --lightBrown: rgb(223,211,195);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
}

/* ---------------------------------- */
/* navbar styles */

.navbar {
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    background: var(--white);
    box-shadow: 0px 2px 10px rgba(57,62,70, 0.3);
}

.navbar-center {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.main-menu-div {
    display: none;
}

.main-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.main-menu li {
    padding: 20px;
}

.main-menu li a{
    text-decoration: none;
    color: var(--darkGray);
    transition: var(--topTrans);
}

.main-menu li a:hover{
    text-decoration: none;
    color: var(--darkCyan);
    border-bottom: 1px solid var(--darkCyan);
}

.main-menu li a:active{
    color: var(--midBrown);
}

.menu-btn {
    display: flex;
    order: 1;
    font-size: 1.5rem;
    color: var(--darkGray);
    cursor: pointer;
}

.logo-div {
    order: 1;
}

.main-menu-div {
    order: 2;
}

.right-icons {
    display: flex;
    flex-direction: row;
    order: 3;
}

.logo {
    width: 50px;
    margin-left: 40px;
}

.nav-icon {
    font-size: 1.5rem;
    color: var(--darkGray);
}

.cart-btn {
    position: relative;
    cursor: pointer;
}

.fa-search {
    margin-right: 20px;
}

.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 0 5px;
    border-radius: 30%;
    background: var(--darkGray);
    color: var(--darkCyan);
    
}

@media screen and (min-width: 768px) {
    .main-menu-div {
        display: flex;
    }
    .logo-div {
        order: 2;
    }
    .menu-btn {
        display: none;
        order: 1;
    }
    .right-icons {
        order: 3;
    }
    .logo {
        margin-left: 0;
    }
    .section-title h2 {
        font-size: 1rem;
    }
}


/* navbar styles end*/
/* ---------------------------------- */

/* ---------------------------------- */
/* top section syles */

.header {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    background:url("./images/top.bckg.jpg") center/cover no-repeat;
}

.banner {
    text-align: center;
    display: inline-block;
    padding: 2rem;
    background: rgba(199,177,152,0.8);

}

.banner-title {
    font-size: 4rem;
    margin-bottom: 3rem;
    color: var(--darkGray);
}

.banner-btn {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    background: var(--darkGray);
    color: var(--darkCyan);
    border: 3px solid var(--darkGray);
    transition: var(--topTrans);
    cursor: pointer;
}

.banner-btn:hover {
    background: transparent;
    color: var(--darkGray);
    
}

/* top section syles end */
/* ---------------------------------- */

/* ---------------------------------- */
/* products */

.products {
    padding: 3rem 0;
}

.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    color: var(--darkGray);
}

.products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1080px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.bag-btn {
    font-size: 1rem;
    color: var(--white);
    position: absolute;
    width: 100%;
    height: 15%;
    top: 85%;
    right: 0;
    background: var(--darkGray);
    border: none;
    padding: 0.5rem 0.5rem;
    transition: var(--topTrans);
    transform: translateY(100%);
    cursor: pointer;
}

.bag-btn:hover {
    color: var(--darkCyan);
    box-shadow: 0px -4px 0px var(--darkCyan);

}

.fa-shopping-cart {
    margin-right: 0.5rem;
    color-adjust: var(--white);
}

.img-container:hover .bag-btn {
    transform: translateY(0);
}

.product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--topTrans);
}

.img-container:hover .product-img {
    opacity: 0.5;
}

.product h3 {
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
    color: var(--darkGray);
}

.product h4 {
    margin-top: 1rem;
    color: var(--darkCyan);
    text-align: center;
}

@media screen and (min-width: 768px) {

    .section-title h2 {
        font-size: 3rem;
    }
}

/* products end */
/* ---------------------------------- */

/* ---------------------------------- */
/* menu */
.menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--topTrans);
    background: rgba(57,62,70,0.7);
    z-index: 2;
    visibility: hidden;
}

.fold-menu {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    margin-top: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: var(--white);
    padding: 1.5rem;
    transition: var(--topTrans);
    transform: translateX(-100%);
}

.close-menu {
    display: inline-block;
    width: 30px;
    height: 30px;
    order: 2;
}

.fa-window-close {
    font-size: 2rem;
    color: var(--darkGray);
    cursor: pointer;
}

.showMenu {
    transform: translateX(0);
}


.fold-main-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.fold-main-menu li {
    border-bottom: 2px solid var(--darkGray);
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.fold-main-menu li a{
    text-decoration: none;
    color: var(--darkGray);
    transition: var(--topTrans);
    font-size: 2rem;
}

.fold-main-menu li a:hover {
    color: var(--darkCyan);
}



/* menu end */
/* ---------------------------------- */

/* ---------------------------------- */
/* cart */

.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--topTrans);
    background: rgba(57,62,70,0.7);
    z-index: 2;
    visibility: hidden;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: var(--white);
    padding: 1.5rem;
    transition: var(--topTrans);
    transform: translateX(101%);
    box-shadow: -4px 0px 0px var(--darkCyan);

} 

.showCart {
    transform: translateX(0);
}

.transparentBcg {
    visibility: visible;
}

.clear-cart {
    display: inline-block;
    font-size: 1rem;
    color: var(--midGray);
    cursor: pointer;
    margin: 20px;
    transition: var(--topTrans);
}

.clear-cart:hover {
    color: var(--darkGray);
}

.continue-buying {
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
    background: var(--darkGray);
    color: var(--white);
    border: 1px solid var(--darkGray);
    transition: var(--topTrans);
    cursor: pointer;
}

.continue-buying:hover {
    color: var(--darkCyan);
    box-shadow: 0px 4px 0px var(--darkCyan);
}



@media screen and (min-width: 768px) {
    .cart {
        width: 30vw;
        min-width: 450px;
    }
}

.close-cart {
    font-size: 1.5rem;
    cursor: pointer;
}

.cart h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--darkGray);
}



/* cart item */

.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
    
}

.cart-item img {
    width: 75px;
    height: 75px;
}

.cart-item h4 {
    font-size: 1rem;   
    color: var(--darkGray); 
}

.cart-item h5 {
    margin: 0.5rem 0;   
    color: var(--darkCyan);
}

.item-amount {
    text-align: center;
    font-size: 1.3rem;
    color: var(--darkGray);
}

.remove-item {
    color: grey;
    cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
    color: var(--darkCyan);
    cursor: pointer;
    font-size: 1.5rem;
}

/* cart item end */

.cart-footer {
    margin-top: 2rem;
    text-align: center;
    color: var(--darkGray);
}

.cart-footer h3 {
    margin-bottom: 1rem;
    color: var(--darkGray);
}

/* cart end */

